.title {
    color: blue;
    text-align: center;
}

.encabezado {
    text-align: center;
}

div {
    background-color: orange;
    width: 200px;
    height: 200px;
    margin: 20px;
}

p {
    padding: 20px;
}

.font {
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    border: 3px solid black;
}

a {
    color: blue;
}

a[href="https://facebook.com"] {
    color: red;
}

button {
    width: 200px;
    height: 50px;
    font-size: 24px;
    background-color: white;
    border-radius: 20px;
}

button:hover {
    background-color: green;
}